.dashboard-data-container {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-card {
  height: 95px;
  width: 100%;
}

.dashboard-card-header {
  display: block;
  padding-top: 0;
}

.dashboard-card-title {
  font-size: 1em;
  text-align: center;
}

.dashboard-card-data {
  margin-block-start: 0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.dashboard-card-apiaries {
  margin-left: 1em;
  margin-right: 1em
}

.map-container {
  height: 100%;
  width: 100%;
}
