<div class="apiary-details-container">
  <div class="apiary-details-title-container">
    <h2>{{ 'APIARIES.DETAILS.ID' | translate }}{{ apiary?.apiary?.id }}</h2>
    <button mat-flat-button class="apiary-details-hives-button"
            routerLink="/hives" matTooltip="{{ 'APIARIES.TOOLTIPS.GO_TO_HIVES' | translate }}">
      {{ 'APIARIES.DETAILS.GO_TO_HIVES' | translate }}
    </button>
  </div>

  <div class="apiary-details-main-infos-cards-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ apiary?.apiary?.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ 'APIARIES.DETAILS.NAME' | translate }}
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ apiary?.apiary?.temperature }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ 'APIARIES.DETAILS.TEMPERATURE' | translate }}
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ apiary?.nbHives?.original?.nbHives }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ 'APIARIES.DETAILS.HIVES_COUNT' | translate }}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="apiary-details-history">
    <h2>{{ 'APIARIES.DETAILS.HISTORY' | translate }}</h2>
    <div class="apiary-details-history-container">
      <div class="indicator"></div>
      <div class="apiary-details-history-item-container">
        @for (history of apiaryHistory; let i = $index; track history)
        {
        <div class="apiary-details-history-item-banner">
          <mat-icon>add</mat-icon>
          <div class="apiary-details-history-item">
            <div class="title">
              <h4>{{ history.title }}</h4>
                <p style="color: var(--primary-grey); font-style: italic; font-size: 0.8rem;">- {{ history.date | date: 'dd/MM/yyyy' }}</p>
            </div>
	          <p style="margin: 0 !important; color: grey">{{ history.description }}</p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
