.apiaries-container {
  padding: 20px 20px 0 20px;
  border-radius: 8px;
  max-width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  margin-bottom: 15px;
  flex-shrink: 0;
}

.header-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-bar {
  font-size: 16px;
  width: 500px;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.add-apiary-btn {
  background-color: #FBBC05;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.add-apiary-btn:hover {
  background-color: #e0a800;
}

.table-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
}

.apiaries-table {
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  table-layout: fixed;
  position: relative;
}

.apiaries-table thead {
  position: sticky;
  top: 0;
  background-color: #FBBC05;
  z-index: 2;
}

.apiaries-table th, .apiaries-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.apiaries-table th {
  background-color: #FBBC05;
  color: black;
}

.apiaries-table tr:hover {
  background-color: #f1f1f1;
}

button.active {
  background-color: #FBBC05;
  color: black;
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
}

button.inactive {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
}
