.error-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-top: 6rem;
}

.error-container h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.error-container .error-code {
  font-size: 5em;
  letter-spacing: 5px;
  font-weight: bold;
  margin: 20px 0;
}

.error-container p {
  font-size: 1em;
  margin-bottom: 30px;
}
