<div class="hives-container">
  <div class="header">
    <h1>Ruches</h1>
    <div class="header-actions">
      <input type="text" [(ngModel)]="searchText" placeholder="Rechercher une ruche" class="search-bar">
      <button class="add-hive-btn">Ajouter une ruche</button>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="hives-table">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Rucher</th>
        <th>Date d'installation</th>
        <th>Taille</th>
        <th>Maladie</th>
        <th>Année de la Reine</th>
        <th>Statut</th>
        <th>Propre</th>
      </tr>
      </thead>
      <tbody>
        @if (filteredHives.length === 0) {
          <tr>
            <td colspan="8" class="no-results">Aucune ruche ne correspond à votre recherche.</td>
          </tr>
        } @else {
      @for (hive of filteredHives; track hive) {
      <tr>
        <td>{{ hive.name }}</td>
        <td>{{ hive.apiary }}</td>
        <td>{{ hive.installationDate }}</td>
        <td>{{ hive.size }}</td>
        <td>{{ hive.race }}</td>
          <td>{{ hive.disease }}</td>
          <td>{{ hive.taste }}</td>
        <td>{{ hive.queenYear }}</td>
        <td>
          <button [class.active]="hive.status === 'Production'" [class.inactive]="hive.status !== 'Production'">
            {{ hive.status }}
          </button>
        </td>
        <td>
          <button [class.active]="hive.cleaning === 1" [class.inactive]="hive.cleaning === 0">
            {{ hive.cleaning === 1 ? 'Oui' : 'Non' }}
          </button>
        </td>
      <td>
          <button [class.active]="hive.cleaning === 1" [class.inactive]="hive.cleaning === 0">
            {{ hive.cleaning === 1 ? 'Oui' : 'Non' }}
          </button>
        </td>
      </tr>
      }
      }
      </tbody>
    </table>
  </div>
</div>
