<h2 mat-dialog-title>{{ 'hives.dialog.title' | translate }}</h2>
<mat-dialog-content>
  <p>{{ 'hives.dialog.subtitle' | translate }}</p>
  <form [formGroup]="addHiveForm">
    <mat-form-field>
      <mat-label>{{ 'hives.dialog.registration' | translate }}</mat-label>
      <input matInput type="number" formControlName="registration"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'hives.dialog.status' | translate }}</mat-label>
      <mat-select formControlName="status">
        <mat-option value="in_use">Active</mat-option>
        <mat-option value="in_stock">Inactive</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'hives.dialog.size' | translate }}</mat-label>
      <input matInput type="number" formControlName="size"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'hives.dialog.race' | translate }}</mat-label>
      <input matInput type="text" formControlName="race"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'hives.dialog.queenYear' | translate }}</mat-label>
      <input matInput type="number" formControlName="queenYear"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'hives.dialog.temp' | translate }}</mat-label>
      <input matInput type="number" formControlName="temperature"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'hives.dialog.lat' | translate }}</mat-label>
      <input matInput type="number" formControlName="latitude"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'hives.dialog.long' | translate }}</mat-label>
      <input matInput type="number" formControlName="longitude"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'hives.dialog.apiary_id' | translate }}</mat-label>
      <mat-select formControlName="apiary_id">
        @for (apiary of apiariesAvailable; track apiary.id) {
          <mat-option [value]="apiary.id">{{ apiary.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'hives.dialog.buttons.cancel' | translate }}</button>
  <button mat-button mat-dialog-close (click)="addHive()">{{ 'hives.dialog.buttons.save' | translate }}</button>
</mat-dialog-actions>
