<h2 mat-dialog-title>Add Apiary</h2>
<mat-dialog-content>
  <p>What's your favorite animal?</p>
  <form [formGroup]="addHiveForm">
    <mat-form-field>
      <mat-label>Référence de la ruche</mat-label>
      <input matInput type="number" formControlName="registration"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status de la ruche</mat-label>
      <mat-select formControlName="status">
        <mat-option value="in_use">Active</mat-option>
        <mat-option value="in_stock">Inactive</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Taille de la ruche</mat-label>
      <input matInput type="number" formControlName="size"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Race de la ruche</mat-label>
      <input matInput type="text" formControlName="race"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Année de la reine</mat-label>
      <input matInput type="number" formControlName="queenYear"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Température</mat-label>
      <input matInput type="number" formControlName="temperature"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Latitude</mat-label>
      <input matInput type="number" formControlName="latitude"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Longitude</mat-label>
      <input matInput type="number" formControlName="longitude"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>ID du rucher</mat-label>
      <mat-select formControlName="apiary_id">
        @for (apiary of apiariesAvailable; track apiary.id) {
          <mat-option [value]="apiary.id">{{ apiary.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No Thanks</button>
  <button mat-button mat-dialog-close (click)="addHive()">Ok</button>
</mat-dialog-actions>
