@use '@angular/material' as mat;

:root {
  --primary-yellow: rgba(251, 188, 5, 1);
  --primary-yellow-disabled: rgba(251, 188, 5, 0.44);
  --primary-white: #F0F0F0;
  --primary-grey: #a1a1a1;
  --secondary-grey: #e3e3e3;
  --primary-black: #191000;
  --mat-sys-background: var(--primary-white);
  @include mat.dialog-overrides((
    container-color: var(--primary-white),
    container-min-width: 600px
  ));
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-white);
}

html, body { height: 100%; background-color: var(--primary-white) }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackBar-error {
  @include mat.snack-bar-overrides((
    supporting-text-color: rgb(251, 62, 5),
    button-color: var(--primary-white)
  ));
}

.snackBar-info {
  @include mat.snack-bar-overrides((
    container-color: var(--primary-white),
    supporting-text-color: var(--primary-black),
    button-color: var(--primary-yellow)
  ));
}

mat-drawer-content {
  min-width: 80% !important;
}

.mdc-slider__thumb-knob {
  border-radius: 50% 50% 0% 100% / 100% 100% 0% 0% !important;
}
